%h1= t('.title')

%table.admin-table
  %thead
    %tr
      %th Thumb
      %th Article
      %th Erstellt am
      %th Optionen
  %tbody
  - @articles.each do |article|
    %tr
      %td= "thumb"
      %td= link_to article.title, article
      %td= l(article.created_at, :format => :custom)
      %td    
        = link_to "Show", article
        = link_to "Edit", edit_article_path(article)
        = button_to "X", article, :confirm => "Are you sure?", :method => :delete, :class => "delete-button"
