#notice= notice
%h1
  .h1-content= @article.title
  .h1-options
    - if can? :update, @article
      = link_to '', edit_article_path(@article), {:class => 'icon edit', :title => 'Bearbeiten'}
    - if can? :delete, @article
      = button_to "", @article, :confirm => "Are you sure?", :method => :delete, :class => "icon delete"
.video
  = link_to '', @article.asset.url, :id => "player_#{@article.id}"
  %script
    = "flowplayer('player_#{@article.id}', '/videos/flowplayer-3.2.5.swf', {clip:{autoPlay: false}});"
    
.description
  %h4 Beschreibung
  %p= @article.body
  %p
    = link_to 'Zurück', admin_root_path