= form_tag(:controller => "articles", :action => "vote") do |f|
    = hidden_field_tag  :article_id, @article.id
    = hidden_field_tag  :vote, "up"
    = submit_tag '', :class => "like"
    
= form_tag(:controller => "articles", :action => "vote") do |f|
    = hidden_field_tag  :article_id, @article.id
    = hidden_field_tag  :vote, "down"
    = submit_tag '', :class => "dislike"
    
= "Gefällt "
%span.like-text= @article.show_up_votes
= " und "
%span.dislike-text= @article.show_down_votes
= " nicht"