- unless @featured_articles.empty?
  %h1 Featured Videos
  %ol.featured-videos
    - @featured_articles.each do |feature|
      %li
        .video
          = link_to image_tag(get_asset_thumb(feature.asset.url, feature.asset.original_filename, "medium"),:alt => "#{feature.asset.original_filename}", :title => "#{feature.asset.original_filename}"), feature
        .info
          = link_to truncate(feature.title, :length => 40), feature
            
%h1 Neue Videos
%ol.new-videos
  - @articles.each do |article|
    %li{:title => "#{article.title}"}
      .image
        = link_to image_tag(get_asset_thumb(article.asset.url, article.asset.original_filename, "thumb"),:alt => "#{article.asset.original_filename}", :title => "#{article.asset.original_filename}"), article
      .info
        %span.title
          = link_to truncate(article.title, :length => 30), article
        %span.date
          = l(article.created_at, :format => :custom)

- content_for :sidebar do
  = render :partial => "shared/sidebar_login"
