
%h1
  .search-label= "Suchbegriff:" 
  - if @search.length != 0
    .search-term= @search
    
%ol.new-videos
  - @articles.each do |article|
    %li{:title => "#{article.title}"}
      .image
        = link_to image_tag(get_asset_thumb(article.asset.url, article.asset.original_filename, "thumb"),:alt => "#{article.asset.original_filename}", :title => "#{article.asset.original_filename}"), article
      .info
        %span.title
          = link_to truncate(article.title, :length => 30), article
        %span.date
          = l(article.created_at, :format => :custom)

- content_for :sidebar do
  = render :partial =>  "shared/sidebar_login"