#notice= notice
%h1
  .h1-content= @article.title
  .h1-options
    - if can? :update, @article
      = link_to '', edit_article_path(@article), {:class => 'icon edit', :title => 'Bearbeiten'}
    - if can? :delete, @article
      = button_to "", @article, :confirm => "Are you sure?", :method => :delete, :class => "icon delete"
  
.video
  = link_to '', @article.path_flv, :id => "player_#{@article.id}"
  %script
    = "flowplayer('player_#{@article.id}', '/videos/flowplayer-3.2.5.swf', {clip:{autoPlay: false}});"
    
.video-content
  .info
    .user
      %b
        Erstellt von:
      = link_to @article.user.name, user_path(@article.user)
    .views
      %b
        Views:
      = @article.views
    .tags
      %b Tags:
      = @article.tags.map! { |k| "#{k.name}" }.join(", ")
    .vote
      = render :partial => "vote"
    
  .description
    %h3 Länge:
    %p= @article.duration
    %h3 Beschreibung
    %p= @article.body



- unless @article.comments.blank?
  .comments
    %h4 Alle Kommentare
    %ol.all-comments
      - @article.comments.each do |comment|
        %li
          .author
            = link_to comment.user.name, comment.user
            %br
            .date= l(comment.created_at, :format => :short)
          .text= comment.text
- if can? :create, Comment
  .new-comment
    %h4 Neuer Kommentar
    = render :partial => "comment"

- content_for :sidebar do
  = render :partial => "shared/sidebar_login"
  = render :partial => "shared/sidebar_videos", :locals => {:articles => @articles, :releated => @releated}
