%h1= t('.title')

%table.admin-table
  %thead
    %tr
      %th Avatar
      %th Name
      %th E-Mail
      %th Role
      %th Optionen
  %tbody
  - for user in @users
    %tr
      %td{:width => '60px'}= image_tag user.asset.url(:thumb)
      %td{:width => '150px'}= link_to user.name, admin_user_path(user)
      %td{:width => '180px'}= user.email
      %td{:width => '60px'}= user.role
      %td.options    
        = link_to "", admin_user_path(user), {:class => 'icon show', :title => 'Anzeigen'}
        = link_to "", edit_admin_user_path(user), {:class => 'icon edit', :title => 'Bearbeiten'}
        = button_to "", [:admin, user], :confirm => "Are you sure?", :method => :delete, :class => "icon delete"
