%h1
  = t('.title')
  = raw("<span class='online'>gerade online!</span>") if @user.current_sign_in_at != @user.last_sign_in_at
  .h1-options
    -if can? :update, @user
      = link_to "", edit_user_path(@user), {:class => 'icon edit', :title => 'Bearbeiten'}
    - if can? :delete, @user
      = button_to "", @user, :confirm => "Are you sure?", :method => :delete, :class => "icon delete"

%article.profile
  %section.image= image_tag @user.asset.url(:thumb)
  %section.info
    %ul
      %li
        .label Name:
        .attr= @user.name
      %li
        .label E-Mail:
        .attr= @user.email
      %li
        .label Status:
        .attr= @user.role
      %li
        .label Videos:
        .attr= @user.articles.count
      %li
        .label Registriert seit:
        .attr= l(@user.created_at)
      %li
        .label Zuletzt online:
        .attr= l(@user.last_sign_in_at)
    
%article.videos
  %h1 Hochgeladene Videos
  %ol.new-videos
    - @user.articles.each do |article|
      %li{:title => "#{article.title}"}
        .image
          = link_to image_tag(get_asset_thumb(article.asset.url, article.asset.original_filename, "thumb"),:alt => "#{article.asset.original_filename}", :title => "#{article.asset.original_filename}"), article
        .info
          %span.title
            = link_to truncate(article.title, :length => 30), article
          %span.date
            = l(article.created_at, :format => :custom)
            

- content_for :sidebar do
  = render :partial => "shared/sidebar_login"
