!!!
%html
  %head
    %title MyMobileVideo
    = stylesheet_link_tag 'compiled/mobile.css' if mobile_device?
    = javascript_include_tag 'flowplayer-3.2.4.min.js'
    %meta{ :name => "viewport", :content => "width=device-width" }
    
    = csrf_meta_tag
  %body
    #container
      #header
        = link_to 'MyMobileVideo', root_path, :id => 'logo'
      .register-now
        -if ! user_signed_in?
          Be a part of the future.
          = link_to ' Sign up now!', new_user_registration_path
      #center
        .content
          = yield
      #sidebar
        .content
          - if user_signed_in?
            = link_to "Video hochladen!", new_article_path, :id => "add-article-button"
          = yield :sidebar
      #footer
        %ul.footer-links
          %li= link_to 'Über uns', '/about'
          %li= raw('&nbsp;|&nbsp;')
          %li= link_to 'Impressum', '/impressum'
          - if mobile_device?
            %li= raw('&nbsp;|&nbsp;')
            %li= link_to "Normale Seite", :mobile => 0
          - else
            %li= raw('&nbsp;|&nbsp;')
            %li= link_to "Mobile Seite", :mobile => 1
        .copyright= link_to raw('&copy; 2010 HAW Hamburg'), 'http://www.haw-hamburg.de/'
      